<h3>List Published Posts</h3>

<p><%= link_to "Create New Record", new_post_path, :class => "btn btn-success" %></p>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">Published</th>
    <th scope="col">Body</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
  <tr>
    <th scope="row"><%= post.id %></th>
    <td><%= post.title %></td>
    <td><%= post.author %></td>
    <td><%= post.published ? "tak": "nie" %>
    </td>
    <td><%= post.body %></td>
    <td>
      <%= post.published ? publish_button("Censor", post) : publish_button("Publish", post) %>
      <%= link_to "Show", post, class: "btn btn-secondary btn-sm" %>
      <%= link_to "Edit", edit_post_path(post), class: "btn btn-primary btn-sm" %>
      <%= link_to "Destroy", post, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
