<!DOCTYPE html>
<html>
  <head>
    <title>GuestBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="page-header">
        <%= render partial: "layouts/navigation" %>

        <% if flash[:notice] %>
          <div class="alert alert-success">
            <%= flash[:notice] %>
          </div>
          <% elsif flash[:alert]%>
          <div class="alert alert-danger">
            <%= flash[:alert] %>
          </div>
        <% end %>
        <h1> Demo CRUD </h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
